/*
 * CSS for the 'updates' module goes in here
 */
@media screen and (min-width: 1001px) {
  .entry-content #updraftcentral_dashboard .updates_table_container .plugin-name {
    white-space: nowrap; } }

#updates-sections {
  padding: 8px;
  max-height: 200px;
  overflow: auto; }

.updraftcentral_dashboard .update-failure-messages-text, .updraftcentral_dashboard .update-in-progress {
  display: none; }

#updates-sections .updates-section:not(:first-child) {
  display: none; }

.request-filesystem-credentials-dialog #request-filesystem-credentials-title {
  display: none; }

.request-filesystem-credentials-dialog label,
.request-filesystem-credentials-dialog input[type="password"],
.request-filesystem-credentials-dialog input[type="text"] {
  width: 100%;
  display: block; }

.request-filesystem-credentials-dialog .field-title {
  font-weight: 600; }

.request-filesystem-credentials-dialog .ftp-username,
.request-filesystem-credentials-dialog .ftp-password {
  float: left;
  width: 50%; }

.request-filesystem-credentials-dialog .ftp-username {
  padding-right: 16px; }

.request-filesystem-credentials-dialog fieldset {
  clear: left; }

.request-filesystem-credentials-dialog .request-filesystem-credentials-action-buttons,
.request-filesystem-credentials-dialog input[type="submit"],
.request-filesystem-credentials-dialog .cancel-button {
  display: none; }

div#request-filesystem-credentials-form fieldset > label {
  width: initial;
  display: inline;
  margin-right: 15px; }

#uc_task_progress .ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden; }

#uc_task_progress .ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
  background-color: #CCC; }

#uc_task_progress {
  font-size: 11px;
  font-weight: bold;
  margin-top: 7px; }

#uc_task_progress_bar {
  border: 1px solid #777; }

#uc_task_progress_status {
  font-style: italic;
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: center; }

div.updates_table_container button#btn-reset-filter {
  margin-left: 7px; }

div.updates_table_container #btn-reload-updates {
  float: right;
  margin-top: 6px; }

div.updates_table_container select.uc_updates_sort,
div.updates_table_container span.filter_spacer {
  margin-right: 7px; }

#updates_container div.updraft_updates_output {
  background-color: #FFF;
  border-radius: 6px;
  padding: 20px; }

#updates_container .updates_table_container {
  overflow-x: hidden; }

#updates_container .updates_table_container > h4 {
  font-weight: bold;
  margin-top: 0px; }

#updates_container div.updraftcentral_table {
  display: none; }

#updates_container div.updraftcentral_table div#no_matching_items > div {
  text-align: center; }

#updates_container .filter-by-keyword-container {
  margin-top: 7px; }

#updates_container .filter_type {
  margin-top: 8px; }

#updates_container div.updraftcentral_table div.updates-update > div {
  padding-top: 3px;
  padding-bottom: 3px; }

#updates_container .uc_updates_paginator {
  float: right; }

#updates_container span.uc_updates_paginator a.disabled {
  text-decoration: none;
  color: #AAA;
  cursor: default; }

#updates_container div.updates_table_container.mass_updates div.updraftcentral_table,
#updates_container div.updates_table_container.mass_updates select,
#updates_container div.updates_table_container.mass_updates input,
#updates_container div.updates_table_container.mass_updates .filter-elements span {
  font-size: 16px; }

#updates_container div.updates_table_container.mass_updates div.updraftcentral_table .thead > div {
  font-size: 16px;
  text-transform: uppercase; }

#updates_container div.updates_table_container.mass_updates label.sort-label,
#updates_container div.updates_table_container.mass_updates label.filter-label {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase; }

#updates_container div.updates_table_container.mass_updates .filter-elements {
  margin-top: -7px; }

#updates_container div.updates-update .website-host {
  font-size: 12px;
  color: #777; }

#updates_container div.updates-update .website-upgrade-to {
  font-size: 13px; }

#updates_container .filter-type {
  line-height: 1em; }

#updates_container div.updates-update span.core-name,
#updates_container div.updates-update span.core-version,
#updates_container div.updates-update span.plugin-name,
#updates_container div.updates-update span.plugin-version,
#updates_container div.updates-update span.theme-name,
#updates_container div.updates-update span.theme-version {
  display: block;
  margin-top: 0px; }

#updates_container div.updates-update button.update-info {
  margin-top: 0px; }

#updates_container div.updraftcentral_table .remove-pad-left {
  padding-left: 0px; }

#updates_container div.updraftcentral_table .remove-pad-right {
  padding-right: 0px; }

#updates_container div.updates_table_container.mass_updates select.uc_updates_sort {
  width: 100%; }

#updates_container div.updates_table_container.mass_updates .filter-by-keyword-container input {
  font-size: 14px;
  width: 100%;
  margin-bottom: 8px; }

#updates_container div.updates_table_container.mass_updates .uc_updates_buttons {
  text-align: left; }

#updates_container div.updates_table_container.mass_updates .progress-section {
  margin-bottom: 10px; }

#updates_container div.updates_table_container.mass_updates .uc_updates_buttons button {
  margin-bottom: 7px; }

#updates_container div.updraftcentral_table .thead {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  margin-bottom: 5px; }

#updates_container div.updraftcentral_table .chk-col {
  max-width: 40px; }

#updates_container div.update-unavailable,
.updates_table_container div.update-unavailable {
  font-size: 12px;
  color: #777; }

div.updates_table_container #btn-reload-updates > span {
  cursor: pointer; }

.translation-updates-container {
  height: 300px;
  overflow: auto; }

.translation-updates-container table td,
.translation-updates-container table th {
  padding: 0.5em;
  border: 1px solid #767676;
  word-break: break-all; }

.updates-translation-update .translation-count {
  text-transform: lowercase !important; }

div.updates_table_container #updates_backup_choice_label {
  margin-left: 20px; }

div.updates_table_container #updates_backup_choice_dropdown {
  width: auto;
  vertical-align: middle;
  margin-top: 16px;
  margin-left: 10px; }

div.updates_table_container #updates_view_queued_items {
  margin-left: 20px;
  cursor: pointer; }

div.updates_table_container #updates_queue_selected_items {
  margin-right: 15px; }

div.updates_table_container #updates_queue_selected_items > a,
div.updates_table_container #updates_dequeue_selected_items > a {
  text-transform: initial;
  cursor: pointer; }

div#updraftcentral_modal .uc_queued_items {
  max-height: 300px;
  overflow-y: auto; }

div#updraftcentral_modal .uc_remove_queue_item {
  font-size: 13px !important;
  padding: 2px 5px !important;
  margin-left: 10px;
  text-transform: lowercase; }

span#updates_queue_selected_items,
span#updates_dequeue_selected_items {
  display: block; }

.translation-updates-container #translation-language-column {
  width: 21%; }

.translation-updates-container #translation-type-column {
  width: 15%; }

.translation-updates-container #translation-slug-column {
  width: 34%; }

.translation-updates-container #translation-version-column {
  width: 30%; }

div.updates_table_container #updates_backup_choice_dropdown {
  margin-right: 20px !important; }

div.uc_no_patch_releases {
  padding: 5px 30px 30px 30px; }

.uc-fetch-label {
  position: absolute;
  width: 180px;
  font-size: 15px;
  right: -13px;
  margin-top: 3px;
  color: #777; }

.uc-fetch-label-sm {
  font-size: 15px;
  color: #777;
  width: 100%; }

.mass-updates-lastfetched-label {
  font-size: 14px; }

.updates_table_container label {
  vertical-align: inherit !important; }

div.updraftcentral_updates_force_check {
  float: right; }

.uc-fetch-label {
  width: auto;
  right: 25px; }

.uc-fetch-label,
.uc-fetch-label-sm {
  font-family: "Source Sans Pro", roboto, "Helvetica Neue", arial, sans-serif; }

.uc-updates-filter-row .column {
  padding-left: 0;
  padding-right: 0; }

.updates_table_container.per-site {
  margin-top: 50px; }

.updraftcentral_updates_force_check {
  margin-top: -45px; }

#updates_container div.updates_table_container.mass_updates .filter-by-keyword-container input {
  margin-left: 0; }

.updraftcentral_updates_force_check::before {
  cursor: pointer !important; }

@media (min-width: 1200px) {
  span#updates_queue_selected_items,
  span#updates_dequeue_selected_items {
    display: inline; } }

@media (max-width: 767px) {
  #updates_container div.updates_table_container.mass_updates select.uc_updates_sort {
    margin-bottom: 7px; }
  #updates_container div.updates_table_container.mass_updates .uc_updates_buttons {
    text-align: center; }
  #updates_container .filter-by-keyword-container {
    margin-top: 0px; } }

@media (max-width: 510px) {
  #updates_container div.updraftcentral_table .tbody .remove-pad-right {
    padding-left: 8px; } }

@media (max-width: 466px) {
  #updates_container div.updraftcentral_table .tbody .remove-pad-right {
    padding-left: 0px; } }
