.input-group.select2-bootstrap-operator .select2-hidden-accessible:first-child + .select2-container--bootstrap .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group.select2-bootstrap-operator .select2-hidden-accessible:first-child + .select2-container--bootstrap + .input-group-addon {
  border-left: 0;
}
.input-group.select2-bootstrap-operator .input-group-addon + .select2-hidden-accessible + .select2-container--bootstrap {
  margin-left: -1px;
}
.input-group.select2-bootstrap-operator .input-group-addon + .select2-hidden-accessible + .select2-container--bootstrap .select2-selection {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}