{{file_ready}}
{{you_should}}
<button type="button" class="btn btn-sm btn-secondary updraft_downloaded" data-site_id="{{site_id}}" data-backup_timestamp="{{backup_timestamp}}" data-what="{{what}}" data-findex="{{findex}}">{{download_to_computer}}</button>
{{and_then}}
<button type="button" class="btn btn-sm btn-secondary updraft_delete_downloaded_backup" data-site_id="{{site_id}}" data-backup_timestamp="{{backup_timestamp}}" data-what="{{what}}" data-findex="{{findex}}">{{delete_from_server}}</button>
