@import "variables";
@import "mixins";
@import "colors";
@import "tooltip";

.wcc-settings-meta-box {
  .nav-tab-wrapper {
    padding: 0 !important;
    position: relative;

    .toggle-info-texts {
      position: absolute;
      right: 0;
      top: 2px;
      font-size: 11px;
      font-weight: normal;

      > span {
        margin-top: 3px;
      }

      @media #{$mediaXs} {
        display: none;
      }
    }

    .nav-tab {
      &.nav-tab-highlight-on {
        border-left-color:  #7CB342; // 600
        border-right-color: #7CB342; // 600
        border-top-color:   #7CB342; // 600
        background-color:   #9CCC65; // 400

        &:hover {
          background-color: #C5E1A5; // 200
        }

        &.nav-tab-active {
          background-color: #AED581; // 300
        }
      }

      &.nav-tab-highlight-off {
        border-left-color:  #e53935; // 600
        border-right-color: #e53935; // 600
        border-top-color:   #e53935; // 600
        background-color:   #ef5350; // 400

        &:hover {
          background-color: #ef9a9a; // 200
        }

        &.nav-tab-active {
          background-color: #e57373; // 300
        }
      }

      .dashicons {
        margin-top: 4px;
        width: 16px;
        font-size: 16px;
      }
    }

    .has-error {
      &:after {
        content: "\f227";
        color: $colorRed;
        font-family: dashicons, serif;
        margin-left: 4px;
        font-size: 11px;
      }
    }
  }

  .wcc-settings-title {
    margin: 24px 12px;
    h3 {
      margin: 16px 0 2px 0;
      padding: 0;
    }
  }

  .wcc-settings {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    .section-title {
      font-weight: bold;
      color: #689F38;
      font-size: 18px;
      padding: 10px 0 6px 0;
      margin: 0;
      border-bottom: 1px solid #ccc;
    }

    tr {
      td {
        padding: 12px 0;
        vertical-align: top;

        @media #{$mediaSm} {
          display: block;
          clear: both;
        }

        input[type=text], input[type=url], input[type=number] {
          width: 100%;
        }

        &:first-child {
          width: 160px;
          padding-top: 14px;

          @media #{$mediaSm} {
            width: 100%;
          }
        }

        &:nth-child(2) {
          padding-left: 4px;
        }

        .inputs {

          .sortable-placeholder {
            margin-bottom: 6px;
          } // .sortable-placeholder

        } // .inputs

        label {
          font-weight: bold;
          float: left;

          &.label-list {
            //color: #4CAF50;
          }

          &.label-meta {
            //color: #673AB7;
          }

          &.label-save-url {

          }

          &.label-paginate {
            //color: #0097A7;
          }

          &.label-thumbnail {
            //color: #EF6C00;
          }

          &.label-save-images {
            //color: #0D47A1;
          }

          &.label-gallery {
            color: #1976D2;
            padding-left: 8px;
          }

          &.label-recrawl {
            //color: #8E24AA;
          }
        }

        .info-button {
          float: left;
          margin-left: 4px;

          span {
            font-size: 16px;
            margin-top: 1px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .info-text {
          font-weight: normal;
          padding-right: 8px;
          margin-top: 4px;
        }

        .highlight {
          font-weight: bold;
          padding: 0 3px;

          &.selector {
            background-color: #F4511E;
            color: #fff;
          }

          &.url {
            background-color: #fffc69;
            color: #000;
          }

          &.variable {
            background-color: #212121;
            color: #FBC02D;
          }

          &.find {
            background-color: #212121;
            color: #76FF03;
          }

          &.replace {
            background-color: #76FF03;
            color: #212121;
          }

          &.attribute {
            background-color: #303F9F;
            color: #fff;
          }

          &.proxy {
            background-color: #0288D1;
            color: #76FF03;
          }
        }

        .input-group {
          margin-bottom: 8px;
          clear: both;
          display: flex;

          &.has-error {
            padding: 4px 0;
            border-top: 2px dashed $colorRed;
            border-bottom: 2px dashed $colorRed;
          }

          button {
            float: left;

            .dashicons-plus {
              margin-top: 2px;
            }
          }

          .wcc-remove {
            margin-left: 4px;
          }

          .wcc-test, .wcc-dev-tools {
            margin-right: 4px;
          }

          .input-container {
            display: table;
            width: 100%;

            button {
              margin-right: 4px;
              margin-bottom: 6px;
            }

            textarea {
              width: 100%;
            }

            input[type=password] {
              width: calc(33.33333% - 6px);

              @media screen and (max-width: #{$screenSmMin}) {
                width: 100%;
              }
            }
          } // .input-container

          &.remove {

            .wcc-sort {
              padding-left: 4px;
              padding-top: 4px;
              visibility: hidden;
            } // .wcc-sort

            &:hover {
              .wcc-sort {
                visibility: visible;
                cursor: move;

                &:hover {
                  color: rgba(204, 204, 204, 0.72);
                }
              }
            }

          } // &.remove

          &.addon, &.remove {
            .input-container {
              width: calc(100% - 48px);

              @media #{$mediaXs} {
                width: calc(100% - 56px);
              }
            }
          } // &.addon, &.remove

          &.addon.remove {
            .input-container {
              width: calc(100% - 2 * 48px);

              @media screen and (max-width: #{$screenSmMin}) {
                width: calc(100% - 2 * 56px);
              }
            }
          } // &.addon.remove

          &.addon.dev-tools.remove {
            .input-container {
              width: calc(100% - 3 * 46px);

              @media screen and (max-width: #{$screenSmMin}) {
                width: calc(100% - 3 * 52px);
              }
            }
          } // &.addon.dev-tools.remove

          &.text {
            input {
              width: 100%;
            }
          } // &.text

          &.category-map, &.find-replace {
            .input-container {
              width: calc(100% - 48px);

              @media #{$mediaSm} {
                width: calc(100% - 56px);
              }
            }
          } // &.category-map, &.find-replace

          &.category-map {
            .input-container {
              input {
                display: table-cell;
                width: calc(100% - 126px);
              }
              select {
                width: 120px;
                margin-top: -5px;
              }

              @media #{$mediaSm} {
                input, select {
                  display: table-cell;
                  width: calc(100% - 5px);
                }
              }
            }
          } // &.category-map

          &.find-replace {
            .input-container {

              input[type=text] {
                display: table-cell;
                width: calc(50% - 12px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }

            }
          } // &.find-replace

          &.selector-attribute {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(50% - 2px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.selector-attribute

          &.selector-custom-post-meta {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(33% - 8px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.selector-custom-post-meta

          &.custom-post-meta {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(50% - 15px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.custom-post-meta

          &.selector-custom-shortcode {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(33% - 8px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.selector-custom-shortcode

          &.key-value {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(50% - 2px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.key-value

          &.find-replace-in-element-attributes {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(25% - 8px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.find-replace-in-element-attributes

          &.exchange-element-attributes {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(33% - 1px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.exchange-element-attributes

          &.remove-element-attributes {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(50% - 3px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.remove-element-attributes

          &.find-replace-in-element-html {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(33% - 8px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.find-replace-in-element-html

          &.find-replace-in-custom-meta, &.find-replace-in-custom-short-code {
            .input-container {
              input[type=text] {
                display: table-cell;
                width: calc(33% - 8px);
              }

              @media screen and (max-width: #{$screenSmMin}) {
                margin-bottom: 8px;

                input[type=text] {
                  width: 100%;
                }
              }
            }
          } // &.find-replace-in-custom-meta, &.find-replace-in-custom-short-code

          &.multi-checkbox {
            label {
              font-weight: normal;
              margin-right: 20px;
            }
          } // &.multi-checkbox

        } // .input-group

        .actions {
          margin-top: 10px;
        }

        .button {
          span {
            line-height: 24px;
          }
        }
      }
    }
  }
}

#tab-category, #tab-post {
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

#tab-category:before {
  border-left: 1px solid #388E3C;
}

#tab-post:before {
  border-left: 1px solid #d32f2f;
}

.test-results {
  margin-top: 10px;
  padding: 10px;
  border: 1px dashed $colorGrey;
  overflow: auto;
  position: relative;

  p {
    margin-top: 0;
  }

  .hide-test-results {
    display: block;
    margin: 4px 0;
  }

  &.loading {
    border: 2px dashed $colorGreen;
    &:before {
      content: "..."
    }

    .hide-test-results {
      display: none;
    }

  }

  ul {
    margin-left: 24px;
    list-style-type: decimal;

    li {
      code {
        margin: 3px 0;
        white-space: pre;
      }
    }
  }
}

.section-header-button-container {
  padding-top: 10px;

  .button.loading {
    background-color: $colorGreen;
  }
}

// Since sorting of the settings meta box is disabled, change the cursor to default when the handle is hovered over.
.not-sortable .ui-sortable-handle {
  &:hover {
    cursor: default;
  }
}

.hidden {
  display: none;
}