/*
 *  BOOTSTRAP TOOLTIPS
 */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0); }
  .tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .tooltip.top {
    margin-top: -3px;
    padding: 5px 0; }
  .tooltip.right {
    margin-left: 3px;
    padding: 0 5px; }
  .tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0; }
  .tooltip.left {
    margin-left: -3px;
    padding: 0 5px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000; }
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000; }
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }

.details {
  background: #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  margin-bottom: 8px; }
  .details h2 {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    border-bottom: 1px solid #eee;
    font-weight: 600; }
    .details h2 .small {
      margin-left: 4px;
      font-size: 11px;
      font-weight: normal; }
  .details .inside {
    margin: 6px 0 0;
    position: relative;
    padding: 0 12px 12px;
    line-height: 1.4em;
    font-size: 13px; }

.content {
  margin-top: 5px; }
  .content #test_url_part {
    width: 270px; }
  .content #test-results {
    border: 1px dashed #ccc;
    padding: 12px;
    margin-top: 12px; }
    .content #test-results.loading {
      border: 2px dashed #7CB342; }
      .content #test-results.loading:before {
        content: "..."; }
    .content #test-results .details > h2 button {
      position: absolute;
      right: 4px;
      top: 3px;
      font-size: 11px;
      font-weight: normal; }
    .content #test-results .details .inside img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto; }
    .content #test-results .details .inside > .info, .content #test-results .details .inside .source-code, .content #test-results .details .inside .data {
      position: relative;
      float: left;
      margin-bottom: 6px; }
      .content #test-results .details .inside > .info ul, .content #test-results .details .inside .source-code ul, .content #test-results .details .inside .data ul {
        margin-top: 0; }
        .content #test-results .details .inside > .info ul .info-list-inside, .content #test-results .details .inside .source-code ul .info-list-inside, .content #test-results .details .inside .data ul .info-list-inside {
          margin-left: 30px;
          list-style-type: decimal;
          margin-top: 5px; }
      .content #test-results .details .inside > .info h4, .content #test-results .details .inside .source-code h4, .content #test-results .details .inside .data h4 {
        margin: 0 0 4px 0 !important; }
      .content #test-results .details .inside > .info textarea, .content #test-results .details .inside .source-code textarea, .content #test-results .details .inside .data textarea {
        width: 100%; }
    .content #test-results .details .inside > .info, .content #test-results .details .inside .source-code {
      width: 50%; }
    .content #test-results .details .inside > .data {
      width: 100%; }
    .content #test-results .details .inside > .go-to-top-container {
      text-align: right; }
    .content #test-results .test-this {
      height: 24px;
      width: 32px;
      padding: 0 2px;
      margin-right: 2px; }
      .content #test-results .test-this span {
        font-size: 16px;
        margin-top: 3px; }
    .content #test-results .post-url-list {
      display: table; }
      .content #test-results .post-url-list li {
        display: table-row;
        padding: 2px 0; }
        .content #test-results .post-url-list li div {
          display: table-cell;
          vertical-align: middle;
          padding: 4px 0; }
          .content #test-results .post-url-list li div:first-child {
            text-align: right;
            padding-right: 12px; }
          .content #test-results .post-url-list li div:last-child {
            clear: both; }
        .content #test-results .post-url-list li .thumbnail-container {
          padding: 0 2px;
          min-width: 30px; }
          .content #test-results .post-url-list li .thumbnail-container.hidden {
            min-width: 0;
            width: 0; }
          .content #test-results .post-url-list li .thumbnail-container img.small {
            width: 30px;
            height: 30px; }
          .content #test-results .post-url-list li .thumbnail-container .tooltip-arrow {
            display: none; }
          .content #test-results .post-url-list li .thumbnail-container .tooltip.in {
            opacity: 1; }
  .content hr {
    margin-top: 20px; }
  .content .error {
    color: #f44336; }

.clear-fix {
  clear: both; }

/*# sourceMappingURL=site-tester.css.map */
