<div class="wrapper">
  <h1>Image Grid</h1>
  <div id="container">
    <div class="horizontal"><img src="https://img.youtube.com/vi/NwyFYkKjLbc/sddefault.jpg" alt=""></div>
    <div class="vertical"><img src="https://img.youtube.com/vi/NwyFYkKjLbc/0.jpg" alt=""></div>
    <div><img src="https://img.youtube.com/vi/NwyFYkKjLbc/hqdefault.jpg" alt=""></div>
    <div class="big"><img src="https://img.youtube.com/vi/NwyFYkKjLbc/maxresdefault.jpg" alt=""></div>
    <div class="vertical"><img src="https://img.youtube.com/vi/NwyFYkKjLbc/mqdefault.jpg" alt=""></div>
    <div class="horizontal"><img src="https://img.youtube.com/vi/NwyFYkKjLbc/hqdefault.jpg" alt=""></div>
    <div><img src="https://img.youtube.com/vi/NwyFYkKjLbc/1.jpg" alt=""></div>
    <div class="horizontal"><img src="https://img.youtube.com/vi/NwyFYkKjLbc/2.jpg" alt=""></div>
    <div><img src="https://img.youtube.com/vi/NwyFYkKjLbc/3.jpg" alt=""></div>
    <div><img src="https://img.youtube.com/vi/NwyFYkKjLbc/hqdefault.jpg" alt=""></div>
  </div>
</div>
<link rel="stylesheet" href="https://codepen.io/dimaslanjaka/pen/RwwOxqq.css">