*
!test/
!test/**/*
!superuser/
!superuser/**/*
!office/
!office/**/*
!.htaccess
!.gitignore
!auth/
!auth/**/*
!user/
!user/**/*
!blogger/
!blogger/**/*
!cors.php
!index.php
!translator/
!translator/**/*
!code-editor/
!code-editor/**/*
!html-builder/
!html-builder/**/*