body {
  font-family: 'Roboto', sans-serif;
}

.dark-mode {
  background-color:  #222D32;
  color: white;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #f5f5f5;*/
}