.comment-container {
  position: relative;
  max-width: 700px;
  margin: 50px auto;
  overflow: hidden;
  font-family: serif;
}
.comment-container .meta {
  position: absolute;
  top: 10px;
  right: 10px;
}
.comment-container .meta .avatar {
  border-radius: 50%;
  width: 40px;
}
.comment-container .meta .name {
  margin-right: 5px;
  transform: translateY(-100px);
  display: inline-block;
  color: #2d69eb;
  transition: all 0.3s;
}
.comment-container .placeholder {
  position: absolute;
  top: 50%;
  font-size: 18px;
  color: #999999;
  left: 60px;
  margin-top: -15px;
}
.comment-container textarea {
  height: 70px;
  transition: all 0.3s;
  font-size: 18px;
  box-sizing: border-box;
  color: #ffffff;
}
.comment-container .btns {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.comment-container.toggled .meta .name {
  transform: translateY(0);
}
.comment-container.toggled textarea {
  height: 200px;
  color: #444;
  padding-top: 60px;
  padding-bottom: 40px;
}
.comment-container.toggled .placeholder {
  display: none;
}
.comment-container.toggled .btns {
  opacity: 1;
  visibility: visible;
}

/*comment list*/
#list_comment .user_avatar {
  width: 65px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
}
#list_comment .user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#list_comment .comment_details i.fa,
#list_comment .comment_details i.fas,
#list_comment .comment_details i.fad,
#list_comment .comment_details i.far,
#list_comment .comment_details i.fal {
  margin-right: 2px;
}
#list_comment .comment_body {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 75px);
  min-height: 65px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #555;
  background-color: #fff;
  border-bottom: 2px solid #f2f2f2;
}
#list_comment .comment_toolbar {
  width: 100%;
}
#list_comment .comment_toolbar ul {
  list-style-type: none;
  padding-left: 75px;
  font-size: 0;
}
#list_comment .comment_toolbar ul li {
  display: inline-block;
  padding: 5px;
  font-size: 0.7rem;
  color: #d9d9d9;
}
#list_comment .comment_toolbar ul li:hover {
  cursor: pointer;
}
#list_comment .comment_toolbar .comment_details {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  text-align: left;
}
#list_comment .comment_toolbar .comment_tools {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: right;
}
#list_comment .comment_toolbar .comment_tools li:hover {
  color: #ccc;
}
#list_comment .replies_comment ul {
  list-style: none;
}
#list_comment .comment_details li:hover {
  color: #6495ed;
  text-decoration: underline;
}
#list_comment .love:hover {
  color: #ff6347;
}