/* ###### 6.2 Footer  ###### */

.az-footer {
  height: $az-height-footer;
  margin-top: auto;
  display: none;

  @include media-breakpoint-up(lg) { display: block; }

  .container,
  .container-fluid {
    border-top: 1px solid $gray-400;
    font-size: 12px;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $gray-600;
  }

  .container {
    @include media-breakpoint-up(lg) { padding: 0; }
  }

  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.az-footer-app {
  .container,
  .container-fluid { border-top-width: 0; }
}
