<div id="updraftcentral_addsite_tabs">
    <ul>
        <li>
            <a href="#updraftcentral_addsite_standard">{{udclion.standard}}</a>
        </li>
        <li>
            <a href="#updraftcentral_addsite_advanced">{{udclion.advanced}}</a>
        </li>
        {{#if has_tag}}
            <li>
                <a href="#updraftcentral_addsite_addtag">{{udclion.tags.tags}}</a>
            </li>
        {{/if}}
    </ul>
    <div id="updraftcentral_addsite_standard">
    	<div class="updraftcentral_addsite_label">{{udclion.paste_key}}</div>
        <textarea autocomplete="off" id="updraftcentral_addsite_key" rows="7"></textarea>
        <div class="updraftcentral_addsite_help"><a id="updraftcentral_addsite_help" class="txt-small" href="https://updraftplus.com/updraftcentral-how-to-add-a-site/">{{udclion.go_here_for_help_including_screenshots}}</a></div>
    </div>
    <div id="updraftcentral_addsite_advanced">
    	<div id="updraftcentral_editsite_expertoptions" class="updraftcentral_addsite_expertoptions">
        	{{{advanced_options}}}
        </div>
    </div>
    {{#if has_tag}}
        <div id="updraftcentral_addsite_addtag">
            <div id="updraftcentral_addsite_addtag_ui" class="updraftcentral_addsite_addtag_ui">
                <p class="updraftcentral_addsite_label">{{udclion.tags.tags_found_here}}</p>
                <div id="updraftcentral_addsite_tags"><ul class="udc_tag_list"></ul></div>
                <div class="dropdown updraft-dropdown udc_tag-dropdown btn-group btn-group-sm">
                    <button aria-haspopup="true" aria-expanded="false" id="topbutton" type="button" class="btn btn-primary" title="{{udclion.tags.add_tag_to_site}}">
                        <span class="dashicons dashicons-tag"></span>
                        {{udclion.tags.add_tag}} </button>
                    <div class="dropdown-content dropdown-menu dropdown-menu-right udc_tag_wrapper" aria-labelledby="topbutton">
                        {{{tag_ui}}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>
