<div id="updraftcentral_export_container">
    <h4>{{udclion.export_heading}}</h4>
    <p>{{udclion.export_message}}</p>
    <h4>{{udclion.import_heading}}</h4>
	<form method="POST" enctype="multipart/form-data">
		<input id="updraftcentral_import_file" type="file" name="import_file" />
	</form>
    <p></p>
    <p></p>
    <div class="row">
        <div class="col-md-6"><label id="updraftcentral_encryption_label" for="updraftcentral_enable_encryption">{{udclion.add_phrase}}</label></div>
        <div class="col-md-6"><input id="updraftcentral_encryption_phrase" type="text" name="encryption_phrase" placeholder="{{udclion.encryption_phrase}}" value=""></div>
    </div>
</div>