@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --accent: hsl(291, 0%, 20%);
  --background: hsl(267, 0%, 5%);
  --font-color: #fafafa;
  --shadow: 0.7;
}

.trans {
  transition: all 0.3s ease-in-out;
}

.cursor {
  cursor: pointer;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  color: var(--font-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  width: calc(100% - 3rem);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  opacity: 0.8;
}

p {
  margin: 0;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  width: calc(100% - 3rem);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  opacity: 0.65;
}

button,
button:active,
button:focus {
  outline: none;
}

.app-root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, var(--background), var(--accent));
}

.social-btn {
  z-index: 999;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, var(--shadow));
  display: flex;
  place-items: center;
  place-content: center;
  animation: glitch1 2s infinite alternate-reverse;
}
.social-btn svg {
  opacity: 0.7;
  animation: glitch1 2s infinite alternate-reverse;
}

.social-icon-move {
  --icon-pos: -100px;
  transform: translateX(var(--icon-pos));
}
.social-icon-move:nth-child(3n+1) {
  transition: transform 0.4s;
  transition-delay: 0.1s;
}
.social-icon-move:nth-child(3n+2) {
  transition: transform 0.4s;
  transition-delay: 0.2s;
}
.social-icon-move:nth-child(3n+3) {
  transition: transform 0.4s;
  transition-delay: 0.3s;
}

.toggle-social-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 1rem;
  left: 1rem;
  background: var(--accent);
  border: none;
  animation: glitch1 2s infinite alternate-reverse;
}
.toggle-social-btn:hover {
  background: var(--accent);
  box-shadow: 0 5px 15px var(--accent);
}
.toggle-social-btn:hover svg {
  opacity: 1;
  animation: glitch1 2s infinite alternate-reverse;
}
.toggle-social-btn svg > path {
  fill: #fff;
}

.social-icon-container {
  position: fixed;
  width: 50px;
  height: 160px;
  bottom: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  left: 1rem;
  bottom: calc(1rem + 50px);
}

@keyframes slideIn {
  from {
    width: 0;
  }
}
.social-icon-btn {
  width: 40px;
  height: 40px;
  background: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
  z-index: 999;
  animation: glitch1 2s infinite alternate-reverse;
}
.social-icon-btn::before {
  content: "";
  opacity: 0;
  position: absolute;
  color: #fff;
  font-weight: 600;
  background: inherit;
  left: 35px;
  padding: 0.3rem 0.4rem;
  padding-left: 1rem;
  transition: all 0.3s;
  overflow: hidden;
  z-index: -10 !important;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, var(--shadow));
  animation: glitch1 2s infinite alternate-reverse;
}
.social-icon-btn:hover::before {
  animation: slideIn 0.5s linear 1;
  opacity: 1 !important;
}
.social-icon-btn:hover svg {
  opacity: 1 !important;
  animation: glitch1 2s infinite alternate-reverse;
}
.social-icon-btn svg > path {
  fill: #fff;
}

.twitter {
  background: #1da1f2;
}
.twitter:hover {
  transition-delay: 0s;
  background: #0d95e8;
}
.twitter:hover::before {
  content: "Twitter";
  animation: glitch1 2s infinite alternate-reverse;
}

.linkedin {
  background: #0e76a8;
}
.linkedin:hover {
  transition-delay: 0s;
  background: #0d95e8;
}
.linkedin:hover::before {
  content: "LinkedIn";
  animation: glitch1 2s infinite alternate;
}

.codepen {
  background: #333;
}
.codepen:hover {
  transition-delay: 0s;
  background: #262626;
}
.codepen:hover::before {
  content: "Codepen";
  animation: glitch1 2s infinite alternate;
}

@keyframes glitch {
  0% {
    text-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  1% {
    text-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  2% {
    text-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  3% {
    text-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  4% {
    text-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  5% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  6% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  7% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  8% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  9% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  10% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  11% {
    text-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  12% {
    text-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  13% {
    text-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  14% {
    text-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  15% {
    text-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  16% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  17% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  18% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  19% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  20% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  21% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  22% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  23% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  24% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  25% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  26% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  27% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  28% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  29% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  30% {
    text-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  31% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  32% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  33% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  34% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  35% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  36% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  37% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  38% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  39% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  40% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  41% {
    text-shadow: 40px 2px 0 magenta, -40px -4px 0 cyan;
  }
  42% {
    text-shadow: 0 -2px 0 magenta, 0 -2px 0 cyan;
  }
  43% {
    text-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  44% {
    text-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  45% {
    text-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  46% {
    text-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  47% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  48% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  49% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  50% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  51% {
    text-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  52% {
    text-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  53% {
    text-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  54% {
    text-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  55% {
    text-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  56% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  57% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  58% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  59% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  60% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  61% {
    text-shadow: 40px -3px 0 yellow, -40px -1px 0 cyan;
  }
  62% {
    text-shadow: 0 -3px 0 yellow, 0 2px 0 cyan;
  }
  63% {
    text-shadow: 0.9px 0 0 yellow, -0.9px 0 0 magenta;
  }
  64% {
    text-shadow: 0.9px 0 0 yellow, -0.9px 0 0 magenta;
  }
  65% {
    text-shadow: 0.9px 0 0 yellow, -0.9px 0 0 magenta;
  }
  66% {
    text-shadow: 0.9px 0 0 yellow, -0.9px 0 0 magenta;
  }
  67% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  68% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  69% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  70% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  71% {
    text-shadow: 50px -1px 0 yellow, -50px -1px 0 magenta;
  }
  72% {
    text-shadow: 0 3px 0 yellow, 0 0px 0 magenta;
  }
  73% {
    text-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  74% {
    text-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  75% {
    text-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  76% {
    text-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  77% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  78% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  79% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  80% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  81% {
    text-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  82% {
    text-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  83% {
    text-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  84% {
    text-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  85% {
    text-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  86% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  87% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  88% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  89% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  90% {
    text-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  91% {
    text-shadow: 30px -2px 0 cyan, -30px 5px 0 magenta;
  }
  92% {
    text-shadow: 0 4px 0 cyan, 0 4px 0 magenta;
  }
  92% {
    text-shadow: 0.9px 0 0 magenta, -0.9px 0 0 cyan;
  }
  93% {
    text-shadow: 0.9px 0 0 magenta, -0.9px 0 0 cyan;
  }
  94% {
    text-shadow: 0.9px 0 0 magenta, -0.9px 0 0 cyan;
  }
  95% {
    text-shadow: 0.9px 0 0 magenta, -0.9px 0 0 cyan;
  }
  96% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  97% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  98% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  99% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  100% {
    text-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
}
.text {
  padding-top: 50px;
  text-align: center;
  animation: glitch 2s infinite reverse;
}

.smiley {
  width: 270px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.85;
  animation: glitch1 2s infinite reverse;
}
.smiley .left {
  position: relative;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  animation: beat 0.25s infinite alternate;
}
.smiley .left::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -25px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  animation: glitch1 2s infinite alternate-reverse;
}
.smiley .left::after {
  content: "";
  position: absolute;
  left: 0px;
  top: -25px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  animation: glitch1 2s infinite alternate-reverse;
}
.smiley .right {
  position: absolute;
  right: 60px;
  top: 35px;
  width: 25px;
  height: 85px;
  background: #fff;
  animation-fill-mode: both;
  animation: rotate-90 2s infinite alternate-reverse;
}
.smiley .right::after {
  content: "";
  position: absolute;
  left: -38px;
  top: 30px;
  width: 100px;
  height: 25px;
  background: #fff;
  border-radius: 50px;
  animation: glitch1 2s infinite alternate-reverse;
}
.smiley .smile {
  width: 100px;
  height: 25px;
  background: #fff;
  position: absolute;
  bottom: 25px;
  right: 0;
  left: 0;
  margin: auto;
  animation: glitch1 2s infinite alternate-reverse;
}

@keyframes rotate-90 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes beat {
  from {
    transform: rotate(45deg) scale(0.8);
  }
  to {
    transform: rotate(45deg) scale(1);
  }
}
@keyframes glitch1 {
  0% {
    box-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  1% {
    box-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  2% {
    box-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  3% {
    box-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  4% {
    box-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  5% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  6% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  7% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  8% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  9% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  10% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  11% {
    box-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  12% {
    box-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  13% {
    box-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  14% {
    box-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  15% {
    box-shadow: 0.9px 0 0 yellow, -0.9px 0 0 cyan;
  }
  16% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  17% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  18% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  19% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  20% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  21% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  22% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  23% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  24% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  25% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  26% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  27% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  28% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  29% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  30% {
    box-shadow: 0.6px 0 0 magenta, -0.6px 0 0 cyan;
  }
  31% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  32% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  33% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  34% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  35% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  36% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  37% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  38% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  39% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  40% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  41% {
    box-shadow: 40px 4px 0 magenta, -40px 0px 0 cyan;
  }
  42% {
    box-shadow: 0 -4px 0 magenta, 0 -1px 0 cyan;
  }
  43% {
    box-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  44% {
    box-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  45% {
    box-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  46% {
    box-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  47% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  48% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  49% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  50% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  51% {
    box-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  52% {
    box-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  53% {
    box-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  54% {
    box-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  55% {
    box-shadow: 1px 0 0 yellow, -1px 0 0 magenta;
  }
  56% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  57% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  58% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  59% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  60% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  61% {
    box-shadow: 40px 2px 0 yellow, -40px -2px 0 cyan;
  }
  62% {
    box-shadow: 0 -2px 0 yellow, 0 -3px 0 cyan;
  }
  63% {
    box-shadow: 0.9px 0 0 yellow, -0.9px 0 0 magenta;
  }
  64% {
    box-shadow: 0.9px 0 0 yellow, -0.9px 0 0 magenta;
  }
  65% {
    box-shadow: 0.9px 0 0 yellow, -0.9px 0 0 magenta;
  }
  66% {
    box-shadow: 0.9px 0 0 yellow, -0.9px 0 0 magenta;
  }
  67% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  68% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  69% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  70% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  71% {
    box-shadow: 50px -3px 0 yellow, -50px 2px 0 magenta;
  }
  72% {
    box-shadow: 0 0px 0 yellow, 0 -3px 0 magenta;
  }
  73% {
    box-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  74% {
    box-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  75% {
    box-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  76% {
    box-shadow: 1.5px 0 0 yellow, -1.5px 0 0 magenta;
  }
  77% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  78% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  79% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  80% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 magenta;
  }
  81% {
    box-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  82% {
    box-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  83% {
    box-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  84% {
    box-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  85% {
    box-shadow: 0.7px 0 0 yellow, -0.7px 0 0 cyan;
  }
  86% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  87% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  88% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  89% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  90% {
    box-shadow: -1px 0 0 yellow, 1px 0 0 cyan;
  }
  91% {
    box-shadow: 30px -4px 0 cyan, -30px 1px 0 magenta;
  }
  92% {
    box-shadow: 0 2px 0 cyan, 0 -3px 0 magenta;
  }
  92% {
    box-shadow: 0.9px 0 0 magenta, -0.9px 0 0 cyan;
  }
  93% {
    box-shadow: 0.9px 0 0 magenta, -0.9px 0 0 cyan;
  }
  94% {
    box-shadow: 0.9px 0 0 magenta, -0.9px 0 0 cyan;
  }
  95% {
    box-shadow: 0.9px 0 0 magenta, -0.9px 0 0 cyan;
  }
  96% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  97% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  98% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  99% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
  100% {
    box-shadow: -1px 0 0 magenta, 1px 0 0 cyan;
  }
}

/*# sourceMappingURL=style.css.map */
