<h2>How To Destroy Shields</h2>

<h3>Use Element Reactions</h3>
<section id="bootstrap-wrapper">
    <div id="elemental">
        <table id="carticle" class="border">
            <tbody>
                <tr>
                    <th>Superconduct</th>
                </tr>
                <tr>
                    <td>
                        <img
                            src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://s3.us-east-1.amazonaws.com/gamewith-en/article_tools%2Fgenshin-impact%2Fgacha%2Fcryo_icon.png"
                            width="30px"
                            height="30px"
                            alt="Cryo"
                        />
                        <a href=""> Cryo </a>
                        +
                        <img
                            src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://s3.us-east-1.amazonaws.com/gamewith-en/article_tools%2Fgenshin-impact%2Fgacha%2Felectro_icon.png"
                            width="30px"
                            height="30px"
                            alt="Electro"
                        />
                        <a href=""> Electro </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Produces Superconduct that deals with AoE Cryo damage that will decrease the Physical RES for a
                        time.
                    </td>
                </tr>
                <tr>
                    <th>Overload</th>
                </tr>
                <tr>
                    <td>
                        <img
                            src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://s3.us-east-1.amazonaws.com/gamewith-en/article_tools%2Fgenshin-impact%2Fgacha%2Fpyro_icon.png"
                            width="30px"
                            height="30px"
                            alt="Pyro"
                        />
                        <a href=""> Pyro </a>
                        +
                        <img
                            src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://s3.us-east-1.amazonaws.com/gamewith-en/article_tools%2Fgenshin-impact%2Fgacha%2Felectro_icon.png"
                            width="30px"
                            height="30px"
                            alt="Electro"
                        />
                        <a href=""> Electro </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Explode, dealing Pyro damage in an area. Can push back the boss and stop some of its Electro
                        Attack.
                    </td>
                </tr>
                <tr>
                    <th>Freeze</th>
                </tr>
                <tr>
                    <td>
                        <img
                            src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://s3.us-east-1.amazonaws.com/gamewith-en/article_tools%2Fgenshin-impact%2Fgacha%2Fcryo_icon.png"
                            width="30px"
                            height="30px"
                            alt="Cryo"
                        />
                        <a href=""> Cryo </a>
                        +
                        <img
                            src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://s3.us-east-1.amazonaws.com/gamewith-en/article_tools%2Fgenshin-impact%2Fgacha%2Fhydro_icon.png"
                            width="30px"
                            height="30px"
                            alt="Hydro"
                        />
                        <a href=""> Hydro </a>
                    </td>
                </tr>
                <tr>
                    <td>Feezes the enemy and make them idle for the time being.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="char">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th colspan="3">Recommended Characters</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="">
                                <img
                                    src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://gamewith-en.akamaized.net/article_tools/genshin-impact/gacha/chara_32.png"
                                    width="50px"
                                    height="50px"
                                    alt="Ganyu"
                                />
                                Ganyu
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <img
                                    src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://gamewith-en.akamaized.net/article_tools/genshin-impact/gacha/chara_29.png"
                                    width="50px"
                                    height="50px"
                                    alt="Diona"
                                />
                                Diona
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <img
                                    src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://gamewith-en.akamaized.net/article_tools/genshin-impact/gacha/chara_20.png"
                                    width="50px"
                                    height="50px"
                                    alt="Chongyun"
                                />
                                Chongyun
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">
                                <img
                                    src="https://res.cloudinary.com/dimaslanjaka/image/fetch/https://gamewith-en.akamaized.net/article_tools/genshin-impact/gacha/chara_10.png"
                                    width="50px"
                                    height="50px"
                                    alt="Bennett"
                                />
                                Bennett
                            </a>
                        </td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            Characters with shield are also recommended as they will protect you for the constant charge damage released
            by the Abyss Lector.
        </p>
        <h4>Use A Crowd Control Character</h4>
        <p>
            A character with a crowd control skill is also recommended. This skill will give you time to easily gather
            both and freeze them while giving constant damage.
        </p>
    </div>

    <div id="preview">
        <div class="separator" style="clear: both; text-align: center">
            <h5>Preview video</h5>
            <iframe
                class="BLOG_video_class"
                allowfullscreen=""
                youtube-src-id="8IV6dAgapb4"
                width="320"
                height="266"
                src="https://www.youtube.com/embed/8IV6dAgapb4"
            ></iframe>
        </div>
    </div>
</section>
