/* Skeleton start */
.skel img {
  min-height: 100px;
}

.skel {
  background: linear-gradient(-45deg, #dddddd, #f0f0f0, #dddddd, #f0f0f0);
  background-size: 400% 400%;
  -webkit-animation: skeletonLoading 2.25s ease infinite;
  -moz-animation: skeletonLoading 2.25s ease infinite;
  animation: skeletonLoading 2.25s ease infinite;

  /* width max */
  width: 100%;

  /* Hide content. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@-webkit-keyframes skeletonLoading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes skeletonLoading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes skeletonLoading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
