// Colour Variables
$magenta : #a42b52;
$blue : #224154;

// this loops through and generates a random animation for each particle so that hte wallpaper feels more unpredictable and less boring - this loop is also used to assign the animation to the right particle
@for $i from 1 through 100 {
  @keyframes particle-#{$i} {
    0% {
      transform: translateX(0px) translateY(0vh);
      opacity: 1;
    }

    ;

    30% {
      transform: translateX((random(80) - 40) + px) translateY(-10vh);
      opacity: 0.9;
    }

    ;

    40% {
      transform: translateX((random(80) - 40) + px) translateY(-20vh);
      opacity: 0.8;
    }

    ;

    50% {
      transform: translateX((random(80) - 40) + px) translateY(-30vh);
      opacity: 0.7;
    }

    ;

    60% {
      transform: translateX((random(80) - 40) + px) translateY(-40vh);
      opacity: 0.6;
    }

    ;

    70% {
      transform: translateX((random(80) - 40) + px) translateY(-50vh);
      opacity: 0.5;
    }

    ;

    100% {
      transform: translateX((random(80) - 40) + px) translateY(-100vh);
      opacity: 0;
    }

    ;
  }

  .container #particles span:nth-child(#{$i}) {
    animation-name: particle-#{$i};
  }
}

// let's make the body full width and height and hide any overflow, also let's give it a minimun width so that the images don't get too small, maybe in a future I will make this fully responssive
html,
body {
  /*position: relative;
  text-align: center;
  overflow: hidden;
  min-width: 768px;
  */
  height: 100%;
  background-color: $blue;
}

body {
  /*position: relative;*/
  width: 100%;
  height: 100%;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/my-illustration-background.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -1000;
  }

  #particles {
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;

    span.particle {
      display: inline-block;
      position: absolute;
      bottom: 0%;
      border-radius: 50%;
      background-color: $magenta;
      opacity: 1;
      box-shadow: 0px 0px 10px 5px rgba(164, 43, 82, 1);
      transform: translateX(0%) translateY(0%);
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/my-illustration-foreground.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: unset;
  }
}