
#ticketBox {
  padding: 1em;
  background: #bdc3c7;
  background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#ticketBoxTwo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  background-color: lightgrey;
}
#confirmation {
  display: none;
}
#goBack {
  display: none;
}
#deleteTicket {
  display: none;
}
#closeTicket {
  display: none;
}
