.column_one {
  width: 250px;
}

.column_two {
  width: 250px;
}

.card.profile {
  position: relative;
  background-color: #ffffff;
  height: 300px;
  width: 500px;
  overflow: hidden;
  transition-duration: 2s;
  border-radius: 5px;
}

.card.profile img {
  border: 8px solid white;
  z-index: 100;
  height: 480px;
  widows: 480px;
  border-radius: 240px;
  margin-top: -420px;
  margin-left: 270px;
  transition-duration: 1.5s;
  right: 0px;
  overflow: hidden;
}

.card.profile:hover img {
  margin-left: 200px;
}

.text {
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
  margin-top: 30px;
}

.text h3 {
  font-weight: 200;
}

.text span {
  font-weight: 800;
}

.line {
  border: 1px solid gray;
  width: 220px;
  margin-bottom: 15px;
  border-radius: 1px;
}

.text p {
  margin-bottom: 10px;
}

.text i {
  margin-left: 3px;
  color: grey;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: white;
  font-size: 25px;
  padding-top: 5px;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  margin-top: 60px;
}