{{#uc_each plugins}}
<div class="row update-item updates-plugin-update updates-update" data-entity="plugin" data-plugin-info="{{as_json}}" data-plugin-file="{{update.plugin}}" data-new_version="{{update.new_version}}" data-installed_version="{{version}}">
	<div class="update-type col-sm-6 col-lg-5 col-12">
		<div>
			<span class="plugin-name">
				<span class="label label-warning badge badge-warning row_data plugins">{{udclion.updates.plugin}}</span>
				<a href="{{plugin_uri}}">{{name}}</a> ({{version}})
			</span>
		</div>
		{{#unless update.plugin}}
		<div class="update-unavailable">
			{{udclion.updates.update_unavailable}}
		</div>
		{{/unless}}
	</div>
	<div class="update-version col-sm-6 col-lg-3 hidden-xs-down d-none d-sm-block">
		<div class="text-lg-right">
			<div class="row_label">{{udclion.updates.version}}</div>
			<span class="plugin-version">{{udclion.updates.update_to}} {{update.new_version}}</span>
		</div>
	</div>
	<div class="update-buttons col-lg-4 col-12 text-center text-lg-right">
		<button type="button" class="btn btn-sm btn-secondary update-info" title="{{udclion.updates.update_info}}">
			<span class="dashicons dashicons-info">	</span>
		</button>
		<button type="button" class="update-go btn btn-sm btn-primary" {{ifempty update.plugin 'disabled data-unavailable="1"'}}>{{udclion.updates.queue_update}}</button>
		<button type="button" class="update-in-progress btn btn-sm btn-primary" {{ifempty update.plugin 'disabled data-unavailable="1"'}}>{{udclion.updates.queued_for_update}}</button>
	</div>
</div>
{{/uc_each}}
