<h2>{{{site_heading}}}</h2>

<div id="request-filesystem-credentials-dialog" class="notification-dialog-wrap request-filesystem-credentials-dialog">

	<!-- Unused password fields to prevent web browsers' auto-complete from filling in wrong data -->
	<!-- https://stackoverflow.com/questions/15738259/disabling-chrome-autofill -->
	<input class="hidden-xs-up d-none" type="text" name="fakeusernameremembered"/>
	<input class="hidden-xs-up d-none" type="password" name="fakepasswordremembered"/>

	<div class="notification-dialog-background">
	
	</div>
	
	<div class="notification-dialog" role="dialog" aria-labelledby="request-filesystem-credentials-title" tabindex="0">
		<div class="request-filesystem-credentials-dialog-content">	
			{{{credentials_form}}}
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" id="filesystem-credentials-save-in-browser">{{udclion.updates.save_creds_in_browser}}
			</label>
		</div>
	</div>
</div>
