<div class="updates_table_container per-site">
	<p><button id="btn-update-all" class="btn btn-primary disabled"><span class="dashicons dashicons-controls-play"></span> {{udclion.updates.process}} {{udclion.updates.queued_updates}} (0)</button><label id="updates_backup_choice_label">{{udclion.updates.backup_first}}: <select id="updates_backup_choice_dropdown">
			<option value="default">{{udclion.updates.site_default_setting}}</option>
			<option value="yes">{{udclion.updates.yes}}</option>
			<option value="no">{{udclion.updates.no}}</option>
			</select>
		</label>
		<input type="checkbox" id="filter_site_patch_release" name="filter_site_patch_release" class="uc_updates_filter_type" value="1"> <label for="filter_site_patch_release">{{udclion.updates.only_patch_releases}}</label>
	</p>
	<div class="row">
		<div class="col-md-12 updraftcentral_table">
			<caption>{{udclion.updates.updates_table_description}}</caption>
			<div class="tbody">
				{{{plugins}}}
				{{{themes}}}
				{{{core}}}
				{{{translations}}}
			</div>
		</div>
	</div>
</div>
